<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Asrfly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Asrfly.Properties.Settings>
            <setting name="SqlServerConString" serializeAs="String">
                <value>Server=localhost\SQLEXPRESS;Database=AsrflyDataBase;Trusted_Connection=True;TrustServerCertificate=True</value>
            </setting>
            <setting name="HideNotificationInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>MOSSAAB</value>
            </setting>
            <setting name="DataGridViewRowNumber" serializeAs="String">
                <value>5</value>
            </setting>
        </Asrfly.Properties.Settings>
    </userSettings>
</configuration>